<h1>Editing Account Department</h1>

<%= render 'form', account_department: @account_department %>
<center>
<%= link_to 'Show', @account_department, class: "btn btn-outline-secondary" %> 
<%= link_to 'Back', account_departments_path, class: "btn btn-outline-secondary" %>
</center>