<h1>Editing Loan Department</h1>

<%= render 'form', loan_department: @loan_department %>

<%= link_to 'Show', @loan_department, class: "btn btn-outline-secondary"%> 
<%= link_to 'Back', loan_departments_path, class: "btn btn-outline-secondary" %>
